<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="text-center">About Greater Than</h2>
      <p class="text-justify">We’re Greater Than and we are a storytelling platform. We tell stories about people and organizations that overcome, that keep on despite the desolation they’ve seen or been through. And we ask ourselves, how can we use these stories to tackle systems of injustice, inequality, racism, poverty and shift narratives?</p>
      <p class="text-justify">We tell stories of discomfort because it leads to growth. We tell stories of strength. We tell stories of hope. We want that hope to inspire action, to build communities, and create spaces of understanding.</p>
      <p class="text-justify">We want to overwhelm you, our listeners with hope. We want hope to carry our stories like some kind of fragrance. Change hope to inspire action. We want it to build communities, create spaces of understanding, help you collaborate with others, and grow this world more towards empathy and gentleness.</p>
      <p class="text-justify">When you listen to each episode, we want you to understand your humanity and see yourselves in people you never thought possible. We all bleed the same blood beneath the different shades, cultures, and lives we come from and identify with.</p>
      <p class="text-justify">This podcast is just the beginning of the shelter under which these stories live. Always moving, shifting thoughts and changing perspectives. We want you to listen to these stories, relate to them and go connect with people and tackle personal or systemic issues because of what our stories have inspired.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <img class="img-responsive profile-img" src='/images/dhanya.jpg'>
      <h2 class="text-center">Dhanya Addanki</h2>
      <p class="gutter-wide text-justify">Dhanya is an Indian born, Texas raised Washington DC transplant. She’s interested is changing systems with media- especially through storytelling. She wants to shift perspectives, change narratives, and break down stereotypes with her life/ this platform. You can find her writing, yoga-ing and intensely walking around DC. Don’t be alarmed by the speed and intensity with which she walks.. she IS friendly.</p>
    </div>
    <div class="col-sm-5">
      <img class="img-responsive profile-img" src='/images/jenn.jpg'>
      <h2 class="text-center">Jenn Junod</h2>
      <p class="gutter-wide text-justify">Jenn is one of those people who will never feel like a stranger. She has a familiarity surrounding her that makes everyone feel comfortable and understood. She lives in Arizona and is curious about telling individual stories about overcoming hardships and using those hardships as stepping stones to success. Learning from her own past and using those experiences to help others. When she’s not podcasting, you can find her cross-fitting, hiking or volunteering all over Phoenix area.</p>
    </div>
  </div>
</div>
